In [1]:
#Add the Pandas dependency
import pandas as pd

In [2]:
#Files to load
schoolData = "Resources/schools_complete.csv"
studentData = "Resources/students_complete.csv"

In [3]:
schoolDataDF = pd.read_csv(schoolData)
studentDataDF = pd.read_csv(studentData)

In [4]:
#Determine if there are any missing values inside the student data
studentDataDF.isnull().sum()
studentDataDF.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [5]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ","Mrs. ","Miss ", " MD"," DDS"," DVM", " PhD"]

for word in prefixes_suffixes:
    studentDataDF["student_name"] = studentDataDF["student_name"].str.replace(word,"")

In [6]:
completeSchoolData = pd.merge(studentDataDF,schoolDataDF, on=["school_name","school_name"])

In [7]:
# Get the total number of students.
studentCount = completeSchoolData["Student ID"].count()

In [8]:
schoolCount = schoolDataDF["school_name"].count()

In [9]:
#Calculate the number of schools
schoolCount2 = completeSchoolData["school_name"].unique()

In [10]:
totalBudget = schoolDataDF["budget"].sum()

In [57]:
averageReadingScore = completeSchoolData["reading_score"].mean()

81.87784018381414

In [12]:
averageMathScore = completeSchoolData["math_score"].mean()

In [13]:
passingMathScore = completeSchoolData["math_score"]>=70
passingReadingScore = completeSchoolData["reading_score"]>=70

In [14]:
passingMath = completeSchoolData[completeSchoolData["math_score"]>=70]

In [15]:
passingReading = completeSchoolData[completeSchoolData["reading_score"]>=70]

In [16]:
mathCount = passingMath["student_name"].count()
readingCount = passingReading["student_name"].count()

In [17]:
passingMath = passingMath["student_name"].count()/float(studentCount)*100
passingReading= passingReading["student_name"].count()/float(studentCount)*100

In [18]:
totalPassingPercent = completeSchoolData[(completeSchoolData["math_score"]>=70)&(completeSchoolData["reading_score"]>=70)]

In [19]:
totalPassingPercent["student_name"].count()

25528

In [20]:
totalPassingCount=totalPassingPercent["student_name"].count()

In [21]:
totalPercentage = totalPassingPercent["student_name"].count()/float(studentCount)*100

In [58]:
districtSummary = pd.DataFrame([{"Total Schools":schoolCount,"Total Students":studentCount,"Total Budget":totalBudget,
                                "Average Reading Score":averageReadingScore,"Average Math Score":averageMathScore,
                                 "%Passing Reading":passingReading,"%Passing Math":passingMath,
                                "OverallPassing%":totalPercentage}])

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,%Passing Reading,%Passing Math,OverallPassing%
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [23]:
def passingMathPercent(passingStudents,totalStudents):
    return passingStudents/float(totalStudents)*100

In [24]:
passingMathCount = 29370
totalStudentCount = 39170
passingMathPercent(passingMathCount,totalStudentCount)

74.9808526933878

In [25]:
districtSummary["Total Students"]=districtSummary["Total Students"].map("{:,}".format)

In [26]:
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("${:,.2f}".format)

In [27]:
districtSummary["Average Reading Score"] = districtSummary["Average Reading Score"].map("{:,.1f}".format)
districtSummary["Average Math Score"] = districtSummary["Average Math Score"].map("{:,.1f}".format)
districtSummary["%Passing Math"] = districtSummary["%Passing Math"].map("%{:,.0f}".format)
districtSummary["%Passing Reading"] = districtSummary["%Passing Reading"].map("%{:,.0f}".format)
districtSummary["OverallPassing%"] = districtSummary["OverallPassing%"].map("%{:,.0f}".format)

In [28]:
newColumnOrder = ["Total Schools","Total Students","Total Budget","Average Math Score","%Passing Reading","%Passing Math","OverallPassing%"]
districtSummary = districtSummary[newColumnOrder]

In [29]:
perSchoolTypes = schoolDataDF.set_index(["school_name"])["type"]

In [30]:
df = pd.DataFrame(perSchoolTypes)

In [31]:
perSchoolCount = completeSchoolData["school_name"].value_counts()

In [32]:
perSchoolBudget = schoolDataDF.set_index(["school_name"])["budget"]

In [33]:
perSchoolCapita = perSchoolBudget/perSchoolCount

In [34]:
studentSchoolMath = studentDataDF.set_index(["school_name"])["math_score"]

In [35]:
perSchoolPassingMath= completeSchoolData[(completeSchoolData["math_score"]>=70)]
perSchoolPassingReading = completeSchoolData[(completeSchoolData["reading_score"]>=70)]

In [36]:
perSchoolPassingMath = perSchoolPassingMath.groupby(["school_name"]).count()["student_name"]
perSchoolPassingReading = perSchoolPassingReading.groupby(["school_name"]).count()["student_name"]

In [37]:
percentageMath = perSchoolPassingMath/perSchoolCount*100
percentageEnglish = perSchoolPassingReading/perSchoolCount*100

In [38]:
perPassingMathReading = completeSchoolData[(completeSchoolData["math_score"]>=70)&(completeSchoolData["reading_score"]>=70)]

In [39]:
perPassingMathReading = perPassingMathReading.groupby(["school_name"]).count()["student_name"]

In [40]:
perOverallPassingPercentage =perPassingMathReading/perSchoolCount*100

In [41]:
perSchoolSummary = pd.DataFrame({"SchoolType":perSchoolTypes,"Total Students": perSchoolCount,
                                  "Total School Budget": perSchoolBudget,"Per Student Budget": perSchoolCapita,
                                 "Average Math Score":averageMathScore,"Average Reading Score":averageReadingScore
                                 ,"% Passing Math":percentageMath,"% Passing Reading":percentageEnglish,
                                  "% Overall Passing":perOverallPassingPercentage})

In [42]:
perSchoolSummary["Total School Budget"] = perSchoolSummary["Total School Budget"].map("${:,.2f}".format)
perSchoolSummary["Per Student Budget"] = perSchoolSummary["Per Student Budget"] = perSchoolSummary["Per Student Budget"].map("${:,.2f}".format)

In [43]:
topSchools = perSchoolSummary.sort_values(["% Overall Passing"], ascending = False)

In [44]:
lowestSchools = perSchoolSummary.sort_values(["% Overall Passing"], ascending = True)

In [45]:
ninthGraders = completeSchoolData[(completeSchoolData["grade"]=="9th")]
tenthGraders = completeSchoolData[(completeSchoolData["grade"]=="10th")]
eleventhGraders = completeSchoolData[(completeSchoolData["grade"]=="11th")]
twelfthGraders = completeSchoolData[(completeSchoolData["grade"]=="12th")]

In [46]:
ninthGradeMathScores=ninthGraders.groupby(["school_name"]).mean()["math_score"]
tenthGradeMathScores=tenthGraders.groupby(["school_name"]).mean()["math_score"]
eleventhGradeMathScores=eleventhGraders.groupby(["school_name"]).mean()["math_score"]
twelfthGradeMathScores=twelfthGraders.groupby(["school_name"]).mean()["math_score"]

In [47]:
ninthGradeReadingScores = ninthGraders.groupby(["school_name"]).mean()["reading_score"]
tenthGradeReadingScores=tenthGraders.groupby(["school_name"]).mean()["reading_score"]
eleventhGradeReadingScores = eleventhGraders.groupby(["school_name"]).mean()["reading_score"]
twelfthGradeReadingScores = twelfthGraders.groupby(["school_name"]).mean()["reading_score"]

In [48]:
mathScoresByGrade = pd.DataFrame({"9th":ninthGradeMathScores,
                                 "10th":tenthGradeMathScores,
                                 "11th":eleventhGradeMathScores,
                                 "12th":twelfthGradeMathScores})

In [49]:
readingScoresByGrade = pd.DataFrame({"9th":ninthGradeReadingScores,
                                    "10th":tenthGradeReadingScores,
                                    "11th":eleventhGradeReadingScores,
                                    "12th":twelfthGradeReadingScores})

In [50]:
mathScoresByGrade["9th"] = mathScoresByGrade["9th"].map("{:,.1f}".format)
mathScoresByGrade["10th"] = mathScoresByGrade["10th"].map("{:,.1f}".format)
mathScoresByGrade["11th"] = mathScoresByGrade["11th"].map("{:,.1f}".format)
mathScoresByGrade["12th"] = mathScoresByGrade["12th"].map("{:,.1f}".format)

mathScoresByGrade.index.name = None
mathScoresByGrade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [51]:
readingScoresByGrade["9th"]=readingScoresByGrade["9th"].map("{:,.1f}".format)
readingScoresByGrade["10th"]=readingScoresByGrade["10th"].map("{:,.1f}".format)
readingScoresByGrade["11th"]=readingScoresByGrade["11th"].map("{:,.1f}".format)
readingScoresByGrade["12th"]=readingScoresByGrade["12th"].map("{:,.1f}".format)
readingScoresByGrade.index.name = None
readingScoresByGrade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [52]:
spendingBins = [0,585,630,645,675]
groupNames = ["<$584", "$585-629", "$630-644", "$645-675"]
perSchoolCapita.groupby(pd.cut(perSchoolCapita,spendingBins,labels=groupNames)).count()

<$584       4
$585-629    4
$630-644    4
$645-675    3
dtype: int64

In [53]:
perSchoolSummary["Spending Ranges(Per Student)"]= pd.cut(perSchoolCapita,spendingBins,labels = groupNames)
perSchoolSummary.head()

,SchoolType,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges(Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,93.392371,97.138965,90.599455,$585-629

In [54]:
spendingMathScores = perSchoolSummary.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"]
spendingReadingScores = perSchoolSummary.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"]
spendingPassingMath = perSchoolSummary.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"]
spendingPassingReading = perSchoolSummary.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"]
overallPassingSpending = perSchoolSummary.groupby(["Spending Ranges(Per Student)"]).mean()["% Overall Passing"]

In [55]:
spendingSummary = pd.DataFrame({
    "Average Math Score" : spendingMathScores,
    "Average Reading Score": spendingReadingScores,
    "% Passing Math": spendingPassingMath,
    "% Passing Reading": spendingPassingReading,
    "% Overall Passing": overallPassingSpending
})
spendingSummary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$584,78.985371,81.87784,93.460096,96.610877,90.369459
$585-629,78.985371,81.87784,87.133538,92.718205,81.418596
$630-644,78.985371,81.87784,73.484209,84.391793,62.857656
$645-675,78.985371,81.87784,66.164813,81.133951,53.526855

In [56]:
spendingSummary["Average Math Score"] = spendingSummary["Average Math Score"].map("{:.1f}".format)
spendingSummary["Average Reading Score"] = spendingSummary["Average Reading Score"].map("{:.1f}".format)
spendingSummary["% Passing Math"] = spendingSummary["% Passing Math"].map("{:,.1f}".format)
spendingSummary["% Passing Reading"] = spendingSummary["% Passing Reading"].map("{:,.0f}".format)
spendingSummary["% Overall Passing"] = spendingSummary["% Overall Passing"].map("{:,.0f}".format)
spendingSummary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$584,79.0,81.9,93.5,97,90
$585-629,79.0,81.9,87.1,93,81
$630-644,79.0,81.9,73.5,84,63
$645-675,79.0,81.9,66.2,81,54