In [4]:
#Add the Pandas dependency
import pandas as pd

In [5]:
#Files to load
schoolData = "Resources/schools_complete.csv"
studentData = "Resources/students_complete.csv"

In [8]:
schoolDataDF = pd.read_csv(schoolData)
studentDataDF = pd.read_csv(studentData)
schoolDataDF.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [9]:
#Determines if there are missing values inside the schooldata file
schoolDataDF.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [10]:
studentDataDF.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [17]:
#Determine if there are any missing values inside the student data
studentDataDF.isnull().sum()
studentDataDF.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [18]:
#Determine data types for the school DataFrame
schoolDataDF.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [22]:
schoolDataDF["budget"].dtype

dtype('int64')

In [ ]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ","Mrs. ","Miss ", " MD"," DDS"," DVM", " PhD"]

for word in prefixes_suffixes:
    studentDataDF["student_name"] = studentDataDF["student_name"].str.replace(word,"")